
<div class="post">
  <h2 class="title"><%= @post.title %></h2>
  <div class="entry">
    <p><%= @post.body %></p>
  </div>
  <div class="byline">
    <p class="meta"><%= @post.created_at.strftime("%b %d. %Y")%> | Posted by <%= @post.admin_user.name %></p>
    <p class="links"><p> | Category : <%= link_to @post.category.title,category_path(:id => @post.category.id) %></p><a href="#" title="b0x w">Comments</a></p>
  </div>
</div>
